* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.App > div > main > section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 50px;
}